*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(221, 221, 221);
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 25, 25);
    height: 50px;
}
ul{
    list-style: none;
}
.home{
    margin-left: 1100px;
}
a{
    text-decoration: none;
}
.text{
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 7px;
}
.text:hover{
    text-decoration: underline;
}
.para{
    font-size: 20px;
    margin: 10px 50px 290px 50px;
}
footer{
    padding-top: 10px;
    background-color: black;
    height: 80px;
}
#foot{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.end{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
li > a{
    text-decoration: none;
    color: white;
}